.swiper {
    width: auto;
    height: 600px;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide
.slide_image {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
}
