
.logo {
    border-radius: 50%;
    width: 100px;
  }
  
  .top-section {
    background-color: #6497e8;
    font-size: 1em;
    margin-top: 0px;
    height: 3em;
    text-align: center;
    padding: 10px;
  }
  
  .second-section {
    margin-top: 2em auto;
  }