* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar-header {
    background-color: white;
  }

  * {
    text-align: center;
  }
}

body {
  margin: 2em auto;
  font: 1em/1.3 Arial, Helvetica, sans-serif;
}

.logo {
  border-radius: 50%;
  width: 100px;
}

.top-section {
  background-color: #6497e8;
  font-size: 1em;
}

.second-section {
  margin-top: 2em auto;
}

.products-display {
  background-color: antiquewhite;
  margin-top: 2em auto;
}

.brands-display {
  margin-top: 2em auto;
}

.footer {
  background-color: rgb(97, 178, 186);
  margin-top: 2em auto;
}

.swiper {
  width: 600px;
  height: 300px;
}
